.modalOverlay {
  position: fixed;
  padding-top: 120px;
  padding-bottom: 80px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--interface_modal-bg-backdrop);
  overflow: auto;
  display: flex;
  flex-direction: column;
}
