.burgerConstructor {
}

.fixedElement {
  padding-left: 32px;
  padding-right: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  max-height: calc(100vh - calc(88px + calc(100px + calc(56px + 292px))));
}

.draggableItemContainer {
  display: flex;
  align-items: center;
}

.orderSummaryContainer {
  margin-top: 40px;
  margin-bottom: 52px;
}
