.bun {
  height: 74px;
  background: #1C1C21;
  border: 3px dashed var(--constructor_drop-area);
}

.bun_top {
  border-radius: 88px 88px 40px 40px;
}

.bun_bottom {
  border-radius: 40px 40px 88px 88px;
}
