.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: loader 2s infinite;
  animation-delay: 0.3s;
  animation-timing-function: linear;
}

.bun1 {
  position: relative;
  bottom: -10px;
}

.bun2 {
  position: relative;
  rotate: 180deg;
  top: -10px;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 90deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 270deg;
  }
  100% {
    rotate: 360deg;
  }
}
