:root {
  --ingredient-width: 272px;
}

.ingredient {
  display: grid;
  transition: opacity 0.3s;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.ingredient:hover {
  background-color: var(--interface_modal-bg);
  border-radius: 4px;
}

.counterContainer {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0px, -5px);
}

.imageContainer {
  position: relative;
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1;
}

.image {
  display: block;
  width: 100%;
}

.priceContainer {
  display: flex;
  grid-row: 1;
  align-items: center;
}

.price {
  min-width: 4ch;
  text-align: right;
}

.name {
  text-align: left;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.draggable {
  opacity: 0.5;
}

@container (inline-size > calc(8px + calc(calc(2 * 272px) + 16px))) {
  .ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--ingredient-width);
    height: 208px;
  }

  .imageContainer {
    width: 240px;
    height: 120px;
  }

  .name {
    text-align: center;
    margin-top: 8px;
  }

  .counterContainer {
    transform: none;
  }

  .priceContainer {
    margin-top: 8px;
  }

  .price {
    text-align: center;
  }
}
