.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 480px;
  height: 240px;
  display: block;
}

.specs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.specItem {
  text-align: center;
}
