.root {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.content {
  display: grid;
  grid-gap: 24px;
}

.footer {
  display: grid;
  gap: 16px;
  align-items: center;
  text-align: center;
}
