.ingredientsList {
  margin: 0;
  padding: 0 8px 0 16px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
}

.ingredient {
  padding: 0;
  flex-shrink: 0;
  flex-grow: 0;
}
