.root {
  display: grid;
  grid-template-columns: 320px 480px minmax(min-content, 320px);
  grid-column-gap: 60px;
  max-width: var(--container-width);
  margin: 0 auto;
}

/* var(--profile-page-width-l) */
@media screen and (max-width: 920px) {
  .root {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}

.aside {
}

.description {
  margin-top: 80px;
}

/* var(--profile-page-width-l) */
@media screen and (max-width: 920px) {
  .description {
    margin-top: 16px;
  }
}
