.appHeader {
  background-color: var(--interface_modal-bg);
}

.container {
  max-width: calc(32px + var(--container-width));
  padding: 0 16px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.logoContainer {
  min-height: calc(calc(19px + 19px) + 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.startActions {
  display: flex;
  align-items: stretch;
  margin-left: -20px;
}

.endActions {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  overflow: hidden;
}
